#container {

    width: 100%
    
  }
body{
  background-color: navajowhite;
}
.hero-image{
  background-image: url(/assets/images/Audio.jpg);
  background-size: cover;
  width: 50%;
  margin-left: auto; 
  margin-right: auto; 
}
.centered {display: block; margin-left: auto; margin-right: auto; width: 20%; background-color: burlywood;}

.centerHeader {
  margin-left: auto; 
  margin-right: auto; 
  width: 50%;
  height: 100px;
  text-align: center;
  color: floralwhite;
}

#mainMenu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: burlywood;
    
}

#mainMenu li{
  float: left; 
  overflow: hidden;
}

#mainMenu a, .dropbtn{
    display: inline-block;
    color: #000;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;

}

#mainMenu a:hover, .dropdown:hover .dropbtn{
  background-color: #555;
  color: white;
}
li.dropdown{
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover .dropbtn {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
 }


#FeedbackInput{
  height: 400px;
  width: 200px;
}
.Comment-Section{
  background-color: navajowhite;
  width: 250px;
  bottom: 0;
}
table, td{
  width: 50%;
  border: 2px solid black;
}
tr{ 
  text-align: center;
  height: 100px;
  border: 2px solid black;
}
th{
  border: 2px solid gray;
}
td, img{
  width: 250px;
  height: 200px;
}